@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
<head>


</head>

<style>
   H1 { 
    font-size: 120%; 
    text-align:center;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #333366; 
   }

   p{
       font-size: 18px;
        text-align:center;

   }

   form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
    form button{
        display: block;
  margin-left: auto;
  margin-right: auto;
    }

  </style>

<body>
    <form>
    <h1>AUTORIZATION</h1>
<p>Имя пользователя:</p>
<input />
<br />
<p>Пароль пользователя:</p>
<input />
<br />
<button>Вход</button>

</form>

</body>

</html>